
/* STYLING BY ELEMENT TAG */

body {
    margin: 0px;
    height: 100vh;
    background-color: #FF9900;
}


button {
    font-family: 'Assistant', sans-serif;
    background-color: #0a173f;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2px;
}

button:hover {
    color: #FF9900;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------- */

/* STYLING BY CLASS */


.post {
    
    margin: 10px;
    width: 50vw;
    font-family: 'Assistant', sans-serif;
    border-radius: 5px;
    color: #0a173f;
    background-color: white;
}

.posts-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.post-title {
    padding-left: 15px;
    background-color: #0a173f;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    border-radius: 5px 5px 0px 0px;
    
}

.post-author-name {
    border-bottom: solid 1px #0a173f;
    padding-left: 15px;
}

.post-description {
    border-bottom: solid 1px #0a173f;
    padding-left: 15px;
}

.post-price {
    padding-left: 15px;
}

.nav-bar {
    padding-right: 100px;
    padding-top: 35px;
    font-family: 'Assistant', sans-serif;
    color: white;
    text-decoration: none;
}

.register {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 200px;
}

.new-post-label {
    padding-top: 15px;
}

.unauth-login {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    margin-top: 20px;
}

.post-form {
    font-family: 'Assistant', sans-serif;
    background-color: white;
    border: none;
    border-radius: 5px;
}


.profile-sec-header{
    text-align: center;
    font-family: 'Assistant', sans-serif;
    color: #0a173f;
    
    border-radius: 5px;
}


.post-messages {
    padding-left: 15px;
}


.login-label{
    font-family: 'Assistant', sans-serif;
    margin-right: 10px;
}


.user-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.outbox-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
   
}

.outbox-post {
    width: 50vw;
    border: solid 1px #0a173f;
    margin-bottom: 20px;

    font-family: 'Assistant', sans-serif;
    border-radius: 5px;
}

.outbox-message-content {
    padding-left: 15px;
}


.message-input-field {
    width: 500px;
}

.outbox-main-div {
    width: 40vw;
    background-color: #FF9900;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.inbox-div {
    width: 40vw;
    background-color: #FF9900;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    
}

.inbox-post {
    margin: 10px;
    width: 40vw;
    font-family: 'Assistant', sans-serif;
    border-radius: 5px;
    color: #0a173f;
    background-color: white;
}

.outbox-post {
    width: 40vw;
    background-color: white;
    border: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------- */

/* STYLING BY ID */

#app {
    height: 100vh;
}

#body-div {
    height: 100vh;
}

#site-header {
    background-color: #0a173f;
    margin-top: 0px;
    padding-top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-left: 30px;
    color: white;
    margin-left: 0px;
}

#site-title {
    font-family: 'Sigmar', cursive;
    color: #FF9900;
    padding-left: 20px;
}

#mainsite-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 80vh;
    
}

#username {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#password {
    display: flex;
    justify-content: center;
}

#register-button {
    width: 80px;
    text-align: center;
}

#register-button-div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#login-button {
    width: 80px;
    text-align: center;
}

#login-button-div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#nav-bar-links {
    padding-top: 37px;
}

#logged-in-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12px;
}

#new-post-div {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 12px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 15px;
    border-radius: 5px;
}


#new-post-desc {
    height: 50px;
}

#new-post-listing-button{
    margin-top: 15px;
}

#logout-button {
    background-color:  #0a173f;
    font-family: 'Assistant', sans-serif;
    border: none;
    padding-top: 2px;
    font-size: medium;
}

#create-acc {
    text-align: center;
}

#has-registered {
    text-align: center;
}


#sign-in {
    text-align: center;
}

#post-delete-button{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #0a173f;
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
}

#post-delete-button:hover {
    color: #FF9900;
}



#profile-button {
    background-color:  #0a173f;
    font-family: 'Assistant', sans-serif;
    border: none;
    padding-top: 2px;
    font-size: medium;
}

#posts-button {
    background-color:  #0a173f;
    font-family: 'Assistant', sans-serif;
    border: none;
    padding-top: 2px;
    font-size: medium;
}

#message-form {
    border-top: #0a173f solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    
}

#message-on-post{
    border-top: #0a173f solid 1px;
    font-family: 'Assistant', sans-serif;
    color: #0a173f;
    padding-left: 10px;
}

#profile-header {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    color: #0a173f;
}


#message-from-user{
    font-weight: 700;
}

#current-listings{
    font-family: 'Assistant', sans-serif;
}


#search-form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}

#search-bar {
    width: 60vw;
    margin-right: 5px;
    border-radius: 5px;
    border:none;
    padding-left: 5px;
}


#posts-page{
    background-color: #FF9900;
}

