
body {
    margin-top: 0px;
    height: 100vh;
}

#app {
    height: 100vh;
}

#body-div {
    height: 100vh;
}

#site-header {
    background-color: #0a173f;
    margin-top: 0px;
    padding-top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-left: 15px;
    color: white;
}

#site-title {
    font-family: 'Righteous', cursive;
    color: white;
    padding-left: 20px;
}

#mainsite-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 80vh;
}

.post {
    border: solid 1px #0a173f;
    margin: 10px;
    width: 50vw;
    font-family: 'Assistant', sans-serif;
    border-radius: 5px;
    color: #0a173f;
}

.posts-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.post-title {
    padding-left: 5px;
    background-color: #0a173f;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}

.post-author-name {
    border-bottom: solid 1px #0a173f;
    padding-left: 5px;
}

.post-description {
    border-bottom: solid 1px #0a173f;
    padding-left: 5px;
}

.post-price {
    padding-left: 5px;
}

.nav-bar {
    padding-right: 100px;
    padding-top: 35px;
    font-family: 'Assistant', sans-serif;
    color: white;
    text-decoration: none;
}

.register {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 200px;
}

#username {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#password {
    display: flex;
    justify-content: center;
}

#register-button {
    width: 80px;
    text-align: center;
}

#register-button-div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#login-button {
    width: 80px;
    text-align: center;
}

#login-button-div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#nav-bar-links {
    padding-top: 37px;
}

#logged-in-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 12px;
}

#new-post-div {
    display: flex;
    flex-direction: column;
    border: solid 1px #0a173f;
    width: 30vw;
    padding: 12px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.new-post-label {
    padding-top: 15px;
}

#new-post-desc {
    height: 50px;
}

#new-post-listing-button{
    margin-top: 15px;
}

#logout-button {
    background-color:  #0a173f;
    font-family: 'Assistant', sans-serif;
    border: none;
    padding-top: 2px;
    font-size: medium;
}

#create-acc {
    text-align: center;
}

#has-registered {
    text-align: center;
}


.unauth-login {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    margin-top: 20px;
}

#sign-in {
    text-align: center;
}

#post-delete-button{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #0a173f;
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.post-form {
    font-family: 'Assistant', sans-serif;
    
}

button {
    font-family: 'Assistant', sans-serif;
    background-color: #0a173f;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 2px;
}

#profile-button {
    background-color:  #0a173f;
    font-family: 'Assistant', sans-serif;
    border: none;
    padding-top: 2px;
    font-size: medium;
}

#posts-button {
    background-color:  #0a173f;
    font-family: 'Assistant', sans-serif;
    border: none;
    padding-top: 2px;
    font-size: medium;
}

#message-form {
    border-top: #0a173f solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    
}

#message-on-post{
    border-top: #0a173f solid 1px;
    font-family: 'Assistant', sans-serif;
    color: #0a173f;
    padding-left: 10px;
}